{% extends "base.html" %}
{% block title%} {{current_user.username}} {%endblock%}

{% block content %}
  <div class="my-4 p-4 text-center">
    <h1> User {{current_user.username}}</h1>
    <img src="{{url_for('static', filename='profile_pics/' + current_user.profile_image)}}" alt="image" srcset="">
  </div>
  <div class="my-3">
    <form method="POST" enctype="multipart/form-data">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.picture.label }} <br>{{ form.picture() }}<br>
      {{ form.username.label }} <br>{{ form.username() }}<br>
      {{ form.email.label }} <br> {{ form.email() }}<br>
      {{ form.submit() }}
  </form>
  </div>
{% endblock %}